@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Denisa Iacob<br />
    Clevland, Ohio 44130<br />
    <abbr title="Phone">P:</abbr>
    440.623.0537
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@travelgal.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@travelgal.com</a><br />
    <strong>Press:</strong> <a href="mailto:Marketing@example.com">Press@travelgal.com</a>
</address>